.DS_Store
Previous_versions/
bg2md.rb
Scripture (***)/
Scripture (***).***/

Die Bibel.md
Die Bibel (***)/
Die Bibel (***).***/

The Bible.md
The Bible (***)/
The Bible (***).***/

La Biblia.md
La Biblia (***)/
La Biblia (***).***/

La Bible.md
La Bible (***)/
La Bible (***).***/

Biblia.md
Biblia (***)/
Biblia (***).***/

output/